# Ignore all
*

# Except these ...
!.gitignore
!Makefile

!*.py
!*.ipynb
!*.r
!*.R

!*.cpp
!*.hpp
!*.c
!*.h
!*.C

!*.asm
!*.s
!*.S

!*.sh
!*.conf

!*.html
!*.css
!*.js

!*.sql

!*.md

!Dockerfile

# ...even if they are in subdirectories
!*/